.App {
  text-align: center;
}

.prompt {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
}

.App-link {
  color: #61dafb;
}